# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [30]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [59]:
# enter your code here
orders = pd.read_csv('Orders.csv')

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [60]:
# your code here
orders = orders.set_index('CustomerID', drop = True)

In [70]:
#Here I will group and sum all of the orders for each costumer. 
new = orders.groupby(['CustomerID', 'Country'], as_index=False).agg({'amount_spent':'sum'})
new
# Here I will find the Quantiles and set VIP to top 25 quantile. 
new['amount_spent'].describe()

count      4347.000000
mean       2050.013320
std        8980.103578
min           0.000000
25%         307.430000
50%         671.960000
75%        1661.195000
max      280206.020000
Name: amount_spent, dtype: float64

In [71]:
Q95=new['amount_spent'].quantile(0.95)
Q75=new['amount_spent'].quantile(0.75)


def grupo_de_custumers(row):
    if row['amount_spent'] >= Q95:
        return 'VIP'
    elif row['amount_spent'] >= Q75 and row['amount_spent'] < Q95:
        return 'Preferred'
    return 'Regular'

In [72]:

new['Customer Type'] = new.apply(lambda row: grupo_de_custumers(row), axis = 1)

In [73]:
new

             Country  amount_spent Customer Type
0     United Kingdom      77183.60           VIP
1            Iceland       4310.00     Preferred
2            Finland       1797.24     Preferred
3              Italy       1757.55     Preferred
4             Norway        334.40       Regular
...              ...           ...           ...
4342  United Kingdom        180.60       Regular
4343  United Kingdom         80.82       Regular
4344  United Kingdom        178.05       Regular
4345  United Kingdom       2094.88     Preferred
4346  United Kingdom       1837.28     Preferred

[4347 rows x 3 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [94]:
df = pd.DataFrame(new[['Customer Type','Country']].value_counts().sort_values(ascending = False))

In [100]:
df

                                 0
Customer Type Country
Regular       United Kingdom  2987
Preferred     United Kingdom   756
VIP           United Kingdom   178
Regular       France            58
              Germany           55
...                            ...
              Israel             1
VIP           Sweden             1
Regular       Malta              1
Preferred     Canada             1
              Austria            1

[75 rows x 1 columns]